* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	color: #333;
	font-size: 62.5%;
	font-family: 'Open Sans', sans-serif;
}

body {
	position: relative;
}

.header {
	background-color: #2579f2;
	height: 217px;
}

.header__instruct {
	display: flex;
	padding: 0 160px;
	background-color: #0a59cc;
	height: 42px;
	align-items: center;
	justify-content: space-between;
}

.header__instruct-noti {
	display: inline-block;
	line-height: 42px;
	width: 600px;
	height: 42px;
}

.header__instruct-control {
	display: inline-block;
}
.header__instruct-icon {
	display: block;
	width: 10px;
	height: 14px;
	font-size: 1.2rem;
	color: #fff;
}
.header__instruct-text {
	display: inline-block;
	font-size: 1.5rem;
}
.header__instruct-text-link {
	color: #fff;
	text-decoration: none;
}

.header__client {
	height: 42px;
	width: 600px;
	line-height: 42px;
}

.header__client-list {
	display: inline-flex;
	align-items: center;
	justify-content: flex-end;
	width: 600px;
	list-style: none;
	margin: 0;
}

.header__client-item {
	display: block;
	font-size: 1.5rem;
	margin: 0 8px;
	color: #fff;
}

.header__client-icon {
	display: block;
	margin-right: 4px;
}

.header__client-item-link {
	text-decoration: none;
	color: #fff;
}

.header__mainUI {
	display: flex;
	height: 70px;
	width: auto;
	align-items: center;
	justify-content: space-between;
	margin: 0 160px;
}

.header__mainUI-logo {
	display: block;
}

.header__mainUI-logo-img {
	display: inline-block;
	width: 49px;
	height: 49px;
	margin-bottom: 6px;
	border-radius: 50%;
}

.header__mainUI-logo-text {
	display: inline-block;
	color: #fff;
	line-height: 70px;
	font-size: 2.2rem;
}

.header__mainUI-search {
	display: flex;
	width: 416px;
}

.header__mainUI-search-box {
	flex: 7;
	height: 40px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	font-size: 1.5rem;
	padding-left: 10px;
}

.header__mainUI-search-icon-block {
	flex: 1;
	background-color: #0a59cc;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	line-height: 40px;
	text-align: center;
}

.header__mainUi-search-icon {
	color: #fff;
	font-size: 1.8rem;
	margin-left: -6px;

}

.header__mainUI-login {
	display: block;
	cursor: pointer;
	transition: 0.3s;
}

.header__mainUI-login:hover {
	opacity: 0.6;
}


.header__mainUI-icon {
	display: inline-block;
	color: #fff;
	font-size: 2.4rem;
	margin-right: 6px;
}

.header__mainUI-text {
	display: inline-block;
	color: #fff;
	font-size: 1.5rem;
	font-weight: 600;
}

.header__mainUI-cart {
	display: block;
}

.header__mainUI-cart-link {
	text-decoration: none;
}

.header__mainUI-cart-block {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 136px;
	height: 46px;
	border-color: #fff;
	border-style: solid;
	border-width: 1px;
	border-radius: 8px;
}

.header__mainUI-cart-icon {
	color: #fff;
	font-size: 1.6rem;
}

.header__mainU-cart-count-block {
	display: block;
	width: 16px;
	height: 22px;
	background-color: #fff;
	border-radius: 4px;
	text-align: center;
}

.header__mainUI-cart-count {
	font-size: 1.5rem;
	font-weight: 600;
}

.header__quickfind {
	display: block;
	height: 53px;
	margin: 0 160px;
}

.header__quickfind-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	height: inherit;
	margin: 0;
}

.header__quickfind-link {
	text-decoration: none;
}

.header__quickfind-item {
	display: block;
}

.header__quickfind-icon {
	display: inline-block;
	font-size: 1.6rem;
	margin-right: 4px;
	color: #fff;
}

.header__quickfind-text {
	display: inline-block;
	font-size: 1.4rem;
	color: #fff;
}


/* category */
.category {
	display: flex;
	padding: 0 160px;
	justify-content: space-between;
	align-items: center	;
	background-color: #fff;
}

.category__list {
	flex: 1;
}

.category__item {
	display: inline-block;
	font-size: 1.5rem;
	font-weight: 600;
}

.category-icon {
	font-size: 1.6rem;
}

.category__info {
	flex: 2;
}

.category__info-list {
	display: flex;
	list-style: none;
	margin: 0;
	justify-content: flex-end;
	align-items: center;
	height: 52px;
}

.category__info-item {
	display: block;
	margin: 0 10px;
}

.category__info-link {
	text-decoration: none;
}

.category__info-img {
	display: inline-block;
	padding-right: 4px;
}

.category__info-text {
	display: inline-block;
	height: 52px;
	line-height: 48px;
	font-size: 1.5rem;
	font-weight: 600;
	color: black;
}

/* container */
.container {
	padding-right: 0 !important;
    padding-left: 0	!important;
    margin-right: 0	!important;
    margin-left: 0	!important;
}

/* product */
.product {
	display: block;
	background-color: #f3f4f6;
	width: 100%;
	height: auto;
	border-top: #e6e8eb solid 0.2px;
}

/* product category */

.product__category {
	display: flex;
	justify-content: space-between;
	margin: 20px 160px 0 160px;
}

.product__category-list-block {
	flex: 4;
	display: block;
	background-color: #fff;
	border: #e6e8eb solid 1px;
	border-radius: 8px;
	margin-right: 18px;
}

.product__category-list {
	display: flex;
	flex-direction: column;
	margin: 0;
	align-items: flex-start;
	list-style: none;
}

.product__category-item {
	padding: 4px 8px;
	width: 206px;
	margin: 0 4px;
	border-radius: 4px;
}

.product__category-item:hover {
	background-color: rgba(37, 121, 242, 0.1);
}

.product__category-item-link {
	display: block;
	text-decoration: none;
	font-size: 1.5rem;
	width: inherit;
}

.product__category-icon {
	display: inline-block;
	color: #7f7f7f;
}

.product__category-text {
	display: inline-block;
	color: #2f2f2f;
}
/* slide */
.product__category-slide {
	flex: 14;
	width: 622px;
    height: 324px;
	overflow: hidden;
	border-radius: 8px;
	position: relative;
}

.product__category-slide-list {
	display: flex;
	transition: 0.5s;
}

.product__category-slide-img {
	width: 722px;
    height: 340px;
}

.btn:hover .product__category-slide-icon{
	color: #fff;
}

.btn {
	display: block;
	height: inherit;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	
	cursor: pointer;
}

.product__category-slide-icon {
	font-size: 3.5rem;
	color: #999;
	transition: 0.4s;
}

.btn-left {
	left: 0;
}

.btn-right {
	right: 0;
}

.product__category-slide-index {
	position: absolute;
	bottom: 10px;
	display: flex;
	left: 50%;
	transform: translateX(-50%);
}

.product__category-slide-index-item {
	border: 2px solid #999;
	background-color: #999;
	border-radius: 2px;
	padding: 0 4px;
	margin: 3px;
	width: 7px;
}

.active {
	border: 3px solid #fff;
	padding: 0 12px;
}
/* extra */
.product__category-extra {
	margin-left: 18px;
	flex: 5;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: space-between;
}


.product__category-extra-item {
	border-radius: 8px;
	overflow: hidden;
	height: 152px;
}

.product__category-extra-img {
	height: 152px;
	width: 286px;
}

.product__category-extra-2 {
	margin-left: 18px;
	flex: 5;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: space-between;
	margin: 20px 160px;
}

/* product main */
.product__main {
	height: 640px;
	margin: 40px 160px;
	border-bottom: #dde0e4 solid 1px;
}

.product__main-header {
	display: block;
	margin-bottom: 20px;
}

.product__main-header-title {
	display: flex;
	justify-content: space-between;
}

.product__main-title-text {
	font-size: 2.2rem;
	font-weight: 600;
}

.product__header-btn {
	display: block;
	background-color: #2579f2;
	text-align: center;
	width: 92px;
	height: 26px;
	border-radius: 4px;

}

.product__btn-link {
	display: block;
	height: inherit;
	text-decoration: none;
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 26px;
	color: #fff;
}

.product__main-header-description {
	font-size: 1.5rem;
}

/* product main cont */
.product__main-cont {
 display: block;
}

.product__main-cont-list {
	
	margin: 0;
	list-style: none;
}

.product__main-cont-item {
	display: block;
	width: 284px;
	height: 214px;
	margin-bottom: 48px;
}

.prodcut__main-cont-item-link {
	display: block;
	text-decoration: none;
	color: #000;
}

.product__main-cont-item-img {
	display: block;
	height: 152px;
	width: 286px;
	border-radius: 8px;
	margin-bottom: 10px;
}

.product__main-cont-item-title {
	display: block;
	font-weight: 500;
	font-size: 1.5rem;
	margin-bottom: 8px;
}

.product__main-cont-item-price {
	display: inline-block;
	font-size: 1.5rem;
	font-weight: 600;
}

.product__main-cont-item-soldout {
	display: none;
	position: absolute;
	top: 0;
	margin: 10px 10px;
	font-size: 1.3rem;
	font-weight: 600;
	text-align: center;
	line-height: 28px;
	color: #fff;
	height: 28px;
	width: 84px;
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.6);
}

.product-soldout--active .product__main-cont-item-soldout {
	display: block;
}

.product-soldout--active .product__main-cont-item-img {
	opacity: 0.4;
}


.product__main-cont-item-sale .product__main-cont-item-discount,
.product__main-cont-item-sale .product__main-cont-item-percent {
	display: inline-block;
}

.product__main-cont-item-discount {
	display: none;
	font-size: 1.5rem;
	color: #7f7f7f;
	font-weight: 500;
	margin: 0 6px;
	width: auto;
	text-decoration-line: line-through;
}

.product__main-cont-item-percent {
	display: none;
	font-size: 1.3rem;
	width: 38px;
	height: 26px;
	color: #fff;
	font-weight: 600;
	border-radius: 4px;
	line-height: 26px;
	text-align: center;
	background-color: #dc3545;
}

.product__main-footer {
	display: block;
	width: 100%;
	text-align: center;
}

.product__main-footer-text {
	color: #0a59cc;
	font-size: 1.5rem;
	font-weight: 600;
	cursor: pointer;
}

/* hotkeyword */
.product__hotkeyword {
	display: block;
	margin: 0 160px;
}

.product__hotkeyword-title {
	display: block;
	width: 100%;
	height: 60px;
	font-size: 2.2rem;
	font-weight: 600;
}

.product__hotkeyword-list {
	display: flex;
	list-style: none;
	justify-content: space-between	;
	align-items: center;
	margin: 0;
}

.product__hotkeyword-item {
	display: block;
	width: 182px;
	height: 80px;
	border-radius: 8px;
	overflow: hidden;
}

.product__hotkeyword-link {
	display: block;
	text-decoration: none;
	width: 182px;
	height: 80px;
	text-align: center;
	line-height: 80px;
	font-size: 1.5rem;
	font-weight: 700;
	color: #fff;
}
/* trending */

.product__trending {
	display: block;
	margin-top: 40px;
	padding-top: 60px;
	background-color: #030e20;
	background-image: url(https://divineshop.vn/static/0de2668c294edf9d5fd8a8647b2c65b6.png);
	background-repeat: no-repeat;
	height: 720px;
}

.product__trending-box {
	display: block;
	margin: 0 160px;
	padding-bottom: 10px;
	border-bottom: #273345 1px solid;
}

.product__trending-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.product__trending-header-title {
	display: block;
	height: 44px;
	width: 364px;
	border: #fff 2px solid;
	text-align: center;
	border-radius: 30px;

}

.product__trending-header-icon {
	display: inline-block;
	font-size: 2.4rem;
	color: #dc3545;
}

.product__trending-header-text {
	display: inline-block;
	font-size: 2.4rem;
	font-weight: 600;
	color: #fff;
}

.product__trending-cont-list {
	
	margin: 0;
	list-style: none;
}

.product__trending-cont-item {
	display: block;
	position: relative;
	width: 284px;
	height: 214px;
	margin-bottom: 48px;
}

.prodcut__trending-cont-item-link {
	display: block;
	text-decoration: none;
	color: #fff;
}

.product__trending-cont-item-img {
	display: block;
	height: 152px;
	width: 286px;
	border-radius: 8px;
	margin-bottom: 10px;
}

.product__trending-cont-item-title {
	display: block;
	font-weight: 500;
	font-size: 1.5rem;
	margin-bottom: 8px;
	color: #fff;
}

.product__trending-cont-item-price {
	display: inline-block;
	font-size: 1.5rem;
	font-weight: 600;
	color: #fff;
}

.product__trending-cont-item-sale .product__trending-cont-item-discount,
.product__trending-cont-item-sale .product__trending-cont-item-percent {
	display: inline-block;
}

.product__trending-cont-item-discount {
	display: none;
	font-size: 1.5rem;
	color: #7f7f7f;
	font-weight: 500;
	margin: 0 6px;
	width: auto;
	text-decoration-line: line-through;
}

.product__trending-cont-item-percent {
	display: none;
	font-size: 1.3rem;
	width: 38px;
	height: 26px;
	color: #fff;
	font-weight: 600;
	border-radius: 4px;
	line-height: 26px;
	text-align: center;
	background-color: #dc3545;
}

.product__trending-cont-item-soldout {
	display: none;
	position: absolute;
	top: 0;
	margin: 10px 10px;
	font-size: 1.3rem;
	font-weight: 600;
	text-align: center;
	line-height: 28px;
	color: #fff;
	height: 28px;
	width: 84px;
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.6);
}

.product-soldout--active .product__trending-cont-item-soldout {
	display: block;
}

.product-soldout--active .product__trending-cont-item-img {
	opacity: 0.4;
}

.product__trending-footer {
	display: block;
	width: 100%;
	text-align: center;
}

.product__trending-footer-text {
	color: #fff;
	font-size: 1.5rem;
	font-weight: 600;
	cursor: pointer;
}

/* price find */

.product__pricefind {
	display: block;
	margin: 40px 160px;
}

.product__pricefind-title {
	display: block;
	width: 100%;
	height: 60px;
	font-size: 2.2rem;
	font-weight: 600;
}

.product__pricefind-list {
	display: flex;
	list-style: none;
	justify-content: space-between	;
	align-items: center;
	margin: 0;
}

.product__pricefind-item {
	display: block;
	width: 182px;
	height: 80px;
	border-radius: 8px;
	background-color: #fff;
	border: #e6e8eb 1px solid;
	overflow: hidden;
}

.product__pricefind-link {
	display: block;
	text-decoration: none;
	width: 182px;
	height: 80px;
	text-align: center;
	line-height: 80px;
	font-size: 1.5rem;
	font-weight: 700;
	color: #000;
}

/* product asked account */

.product__askacc {
	display: flex;	
	width: 100%;
	background-color: #000;
	height: 224px;
	padding: 0 160px;
	align-items: center;
}

.product__askacc-img {
	flex: 1;
	margin-left: 30px;
	width: 250px;
	height: 190px;
}

.product__askacc-img-item {
	display: block;
}

.product__askacc-cont {
	flex: 2;
	color: #fff;
}

.product__askacc-title {
	display: block;
	font-size: 2.6rem;
	font-weight: 600;
}

.product__askacc-desscription {
	display: block;
	font-size: 1.5rem;
	margin: 16px 0;
}

.product__askacc-btn {
  display: inline-block;
  width: 114px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  background-color: #2579f2;
  border-radius: 8px;
  cursor: pointer;
}

.product__askacc-btn-link {
	text-decoration: none;
	color: #fff;
	font-weight: 600;
	font-size: 1.5rem;
}

.product__askacc-login {
	display: inline-block;
	font-size: 1.4rem;
	font-weight: 500;
	margin-left: 8px;
}

.product__askacc-login-link {
	color: #fff;
	cursor: pointer;
}

.product__askacc-login-link:hover {
	text-decoration: underline;
}

/* product payment */

.product__payment {
	display: flex;
	width: auto;
	max-width: 1200px;
	margin: 0 160px;
}

.product__payment-link {
	display: block;
	text-decoration: none;
}

.product__payment-img {
	display: inline-block;
	height: 24px;
	margin: 6px;
}

.product__payment-text {
	color: #000;
}

/* footer */
.footer {
	display: block;
}
 /* footer social */

 .footer__social {
	display: block;
	margin: 20px 160px;
 }

.footer__social-list {
	display: block;
}

.footer__social-item {
	display: inline-block;
	height: 26px;
	width: 40px;
}

.footer__social-link {
	display: block;
	width: inherit;
	height: inherit;
}

.footer__social-img {
	height: 26px;
	width: 40px;
}

/* footer info */

.footer__info {
	display: flex;
	margin: 0 160px;
	justify-content: space-between
}

.footer__info-cont {
	display: flex;
	width: 600px;
	justify-content: space-between;
}

.footer__info-box {
	display: block;
}

.footer__info-title {
	font-size: 1.5rem;
	font-weight: 600;
	margin: 6px 0;
}

.footer__info-list {
	list-style: none;
}

.footer__info-item {
	font-size: 1.4rem;
	font-weight: 500;
	margin: 4px 0;
}

.footer__info-link {
	text-decoration: none;
	color: #000;
	cursor: pointer;
}

.footer__info-link:hover {
	text-decoration: underline;
	color: #000;
}

/* .footer__info-certificate {

}

.footer__info-certificate-item {

}

.footer__info-img {

}	 */

/* model */

.modal.modal--active {
	display: flex;
}

.modal__overlay {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
}

.modal__body {
	width: 994px;
	height: auto;
	background-color: #fff;
	margin: auto;
	position: relative;
	z-index: 1;
	border-radius: 8px;
}

.modal__inner {
 display: block;
}

.auth-form {
	display: none;
	justify-content: space-around;
	align-items: center;
	margin: 28px 10px;
}

.auth-form.auth-form--active {
	display: flex;
}

.auth-form__cont {
	width: 	440px;
}

.auth-form__header {
	display: block;
}

.auth-form__heading {
	display: inline-block;
	font-size: 2.4rem;
	font-weight: 600;
}

.auth-form__switch-btn {
	display: inline-block;
	font-size: 2.4rem;
	color: #6e6e6e;
	font-weight: 600;
	cursor: pointer;
	transition: 0.3s;
}

.auth-form__switch-btn:hover {
	opacity: 0.7;
}

.auth-form__switch-btn.auth--active {
	color: #000;
}

.auth-form__switch-btn:first-child {
	margin-right: 14px;
}

.modal__inner-close-btn {
	position: absolute;
	display: inline-block;
	font-size: 2.2rem;
	color: #6e6e6e;
	right: 20px;
	top: 18px;
	cursor: pointer;
	transition: 0.3s;
}

.auth-form__close-btn:hover {
	opacity: 0.5;
}

.auth-form__description {
	font-size: 1.4rem;
	margin-top: 10px;
}

/* .auth-form__form {

}

.auth-form__group {

} */

.auth-form__input {
	width: 452px;
	height: 42px;
	border: #d1d5db 1px solid;
	border-radius: 4px;
	margin: 10px 0;
	padding-left: 8px;
	font-size: 1.5rem;
}

.auth-form__aside {
	display: flex;
	margin-bottom: 16px;
	align-items: center;
}

.auth-form__aside-checkbox {
	display: inline-block;
	margin-right: 4px;
}

.auth-form__aside-text {
	display: inline-block;
	font-size: 1.4rem;
	margin-bottom: 0;
}
/* .auth-form__aside-link {

}

.auth-form__control {

} */

.auth-form__btn {
	display: block;
	width: 452px;
	height: 42px;
	border-radius: 8px;
	border: none;
	background-color: #2579f2;
	color: #fff;
	font-size: 1.6rem;
	font-weight: 600;
}

.auth-form__other {
	display: block;
	text-align: center;
	margin-top: 14px;
}

.auth-form__other-text {
	position: relative;
	font-size: 1.4rem;
	color: #747a87;
}

.auth-form__other-text::before {
	position: absolute;
	content: "";
	left: 0;
	top: 14px;
	height: 1px;
	width: 144px;
	background-color: #d1d5db;
}


.auth-form__other-text::after {
	position: absolute;
	content: "";
	right: 0;
	top: 14px;
	height: 1px;
	width: 144px;
	background-color: #d1d5db;
}

/* .auth-form__other-login {

}

.auth-form__other-link {

} */

.auth-form__other-img {
	display: inline-block;
	padding: 4px;
}

.auth-form__display {
	display: block;
}

